<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>QLGIS</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>GeoJSON</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Alternate</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.geojson</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>GeoTIFF</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.mauricefrank.geotiff</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>PMTiles</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.mauricefrank.pmtiles</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>GeoPackage</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.mauricefrank.geopackage</string>
            </array>
        </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.image</string>
                <string>public.tiff</string>
            </array>
            <key>UTTypeDescription</key>
            <string>GeoTIFF Raster</string>
            <key>UTTypeIdentifier</key>
            <string>com.mauricefrank.geotiff</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>geotiff</string>
                    <string>geotif</string>
                    <string>tif</string>
                    <string>tiff</string>
                </array>
                <key>public.mime-type</key>
                <string>image/tiff</string>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>PMTiles Archive</string>
            <key>UTTypeIdentifier</key>
            <string>com.mauricefrank.pmtiles</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>pmtiles</string>
                </array>
                <key>public.mime-type</key>
                <string>application/vnd.pmtiles</string>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
                <string>public.database</string>
            </array>
            <key>UTTypeDescription</key>
            <string>GeoPackage Database</string>
            <key>UTTypeIdentifier</key>
            <string>com.mauricefrank.geopackage</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>gpkg</string>
                    <string>geopackage</string>
                </array>
                <key>public.mime-type</key>
                <string>application/geopackage+sqlite3</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
